.bg_image{
    background-image: url(../views/assets/images/image\ copy.png);
    background-position: center;
    background-size: cover;
    height: 700px;
}
.container{
background-color: #895637;
color: white;
border-radius: 10px;
}